# Build
bin/
obj/

# Rider / VS
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
.DS_Store

# NuGet
*.nupkg
packages/

# Environment
.env

# App settings (секрети)
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

# Angular
node_modules/
dist/

# Docker
docker-compose.override.yml